@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50 overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }
}